@import '../../../assets/styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.mat-toolbar{
    background-color:$black;
    background-image: url('https://cdn-icons-png.flaticon.com/128/189/189001.png');
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: 80px;
    height: 80px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5rem;
}

.mat-toolbar:hover{
    background-image: url('https://cdn-icons-png.flaticon.com/512/188/188972.png');
}

.mat-toolbar-title{
    color: $white;
    margin-left: 10%;
img{
    margin-top: 2%;
    padding: 1%;
} 
      
}
img:hover{
    cursor: pointer;
    opacity: 0.5;
}

p{
    cursor: pointer;
}

