@import "../../../assets/styles/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


.container{
    width: 80%;
    margin-top: 25px;
    text-align: center;
    margin-left: 10%;
    font-family: 'Montserrat', sans-serif;
    
}

table {
    min-width: 80%;
    margin: auto;
    text-align: center;
    border: solid $yellow 4px;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
 
    
}

.mat-header-cell {
    color:$black;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
   

    
}

//even
//Representa elementos cuya posición numérica en una serie de hermanos es par: 2, 4, 6, etc.
.mat-row:nth-child(2) {
    background-color: black;
    text-align: center;

}

//odd
//Representa elementos cuya posición numérica en una serie de hermanos es impar: 1, 3, 5, etc.
.mat-row:nth-child(2n+1) {
    background-color: $blue;
    color: $yellow;
    text-transform: capitalize;
    font-size: 1.5vw;
    text-align: center;
   
}

.mat-cell:first-letter {
    text-transform: uppercase;
    font-size: 2em;
}

.mat-cell{
    height: 100px;
    text-transform: none;
    
}

.mat-row:hover {
    cursor: pointer;
    box-shadow: inset 0 0 0 2px $yellow;
}

::ng-deep.mat-paginator {
    width: 80%;
    margin: auto;
}

.mat-form-field {
    font-size: 13px;
    width: 20%;

    margin-bottom: 5px;
    padding: 10px;
}

::ng-deep.mat-form-field-label {
    color: $white !important;
}
::ng-deep.mat-form-field-underline {
    background-color: $white !important;
}

input {
    color: $blue !important;
    
    
}

.paginator{
    background-color: $yellow;
    margin-top: -4px;
    border-radius: 4px;
    font-weight: bold;
}


@media (max-width: 800px) {
    .mat-row:nth-child(2n+1) {
        font-size: 3vw;
        
    }
}