@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import '../styles.scss';

h1{
    margin-left: 20%;
    font-family: 'Shadows Into Light', cursive;
    font-size: 4em;
    color: $yellow;
    font-weight: bold;
}


@media (max-width: 800px) {
    h1{
        font-size: 2em;
        
        }
    }